<a routerLink="/">
    <div class="side-nav bg-image-holder">
        <fa-icon [icon]="faTimes" class="close-icon"></fa-icon>
        <h2 class="head-title">Our Team </h2>
    </div>

</a>
<div class="content-container">
    <div class="title-page">
        <h2>Know Us <span class="title-special">Better !</span> </h2>
        <img src="./../../../assets/images/dvider.png" alt="">
    </div>

    <ngx-scrolltop>
        ↑
    </ngx-scrolltop>
</div>

<footer class="footer">
    <p>@2021 DevA2Z. All rights reserved. Design by DevA2Z</p>
</footer>