<!-- comment -->
<div class="row main-container">
    <div class="col-md-6 index-col">
        <div class="container">
            <div class="img-box-container">
                <img src="./../assets/images/bg-index-page.png" alt="">
            </div>
            <div class="title-box-container">
                <h1>We Execute Your Ideas From <span class="shutter-font">Start</span> to <span
                        class="shutter-font">Finish</span> </h1>
                <p>The pioneer agency in development and market research providing strategic solutions with high
                    progress ratio .</p>
            </div>
            <div class="contact-container">
                <div class="call-us">
                    <p>CALL: +012-745-874</p>
                </div>
                <div class="social-contaienr">
                    <div>
                        <fa-icon class="faIcon" [icon]="faFacebook"></fa-icon>
                    </div>
                    <div>
                        <fa-icon class="faIcon" [icon]="faInstagram"></fa-icon>
                    </div>
                    <div>
                        <fa-icon class="faIcon" [icon]="faTwitter"></fa-icon>
                    </div>
                    <div>
                        <fa-icon class="faIcon" [icon]="faLinkedin"></fa-icon>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Navbar Section goes here  -->
    <div class="col-md-6 ">
        <app-navbar-grid></app-navbar-grid>
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>


</div>